<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title th:text="${article.title}">Page</title>
</head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <div class="card-body">
        <h1>
            <th:block th:text="${article.title}">Title</th:block>
            <small class="text-muted">by
                <th:block th:text="${article.writer}">Writer</th:block>
            </small>
        </h1>

        <span th:text="${article.id}">Id</span>,
        <span th:text="${article.date}">Date</span>
    </div>

    <div class="card-body">
        <p th:text="${article.content}">Content</p>
    </div>

</section>

</body>
</html>