<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>page</title>
</head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <form action="/books" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="form-group">
            <label for="author">Author</label>
            <input type="text" class="form-control" id="author" name="author">
        </div>
        <button type="submit">register</button>
    </form>

</section>

<!--        <th:block layout:fragment="page_css">-->
<!--            <script th:src="@{/my_css}"></script>-->
<!--        </th:block>-->
<!--        <th:block layout:fragment="page_js">-->
<!--            <script th:src="@{/my_js}"></script>-->
<!--        </th:block>-->
</body>
</html>
