<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <th:block th:replace="/fragment/head_meta-link">meta</th:block>
        <title layout:title-pattern="$CONTENT_TITLE : $LAYOUT_TITLE">Library</title>
    </head>
    <body class="sb-nav-fixed">
        <header th:replace="~{/fragment/body_nav :: nav}"></header>

        <div id="layoutSidenav">
            <nav th:replace="~{/fragment/body_sidebar :: sidebar}"></nav>

            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid">
                        <section layout:fragment="section"></section>
                    </div>
                </main>
            </div>

            <aside>aside</aside>
            <footer th:replace="/fragment/body_footer">footer</footer>
        </div>

        <script th:replace="~{/fragment/body_script :: body_script}"></script>
    </body>
</html>