<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head>
    <title>page</title>
</head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <h1>
        <th:block th:text="${borrowing.book}">Book</th:block>
        <small class="text-muted"> is rent to
            <th:block th:text="${borrowing.borrower}">Author</th:block>
        </small>
    </h1>

    <form th:action="@{/borrowings/{id}(id=${borrowing.id})}" method="post">
        <!--        todo-->
        <!--        <input type="hidden" name="_method" value="delete"/>-->
        <button type="submit">Return</button>
    </form>

</section>

<!--        <th:block layout:fragment="page_css">-->
<!--            <script th:src="@{/my_css}"></script>-->
<!--        </th:block>-->
<!--        <th:block layout:fragment="page_js">-->
<!--            <script th:src="@{/my_js}"></script>-->
<!--        </th:block>-->
</body>
</html>
