<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/member}">
<head>
    <title>Notice</title>
</head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <h1 class="mt-4">Notice</h1>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Notice from admin.
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Writer</th>
                        <th>Date</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="notice: ${notices}">
                        <td th:text="${notice.id}">1</td>
                        <td th:text="${notice.title}">title</td>
                        <td th:text="${notice.writer}">writer</td>
                        <td th:text="${notice.date}">date</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


</body>
</html>
