<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head><title>Sign Up</title></head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <article>
        <h1> Sign up as
            <th:block th:text="${authority}">authority</th:block>
            .
        </h1>

        <form th:action="@{/account/{authority}(authority=${authority})}" method="post">
            <div class="form-group">
                <label for="userId">userId</label>
                <input type="text" class="form-control" id="userId" name="userId">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="text" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </article>

</section>

</body>
</html>
