<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main}">
<head><title>Sign Up</title></head>
<body class="sb-nav-fixed">

<section layout:fragment="section">

    <article>
        <form th:action="@{/accounts}" method="post">
            <div class="form-group">
                <label for="userId">userId</label>
                <input type="text" class="form-control" id="userId" name="userId">
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="text" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="adminFlag">adminFlag</label>
                <input type="checkbox" class="form-control" id="adminFlag" name="adminFlag">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </article>

</section>

</body>
</html>
